<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
</head>
<body>
<footer class="footer_section carparts_footer text-white clearfix">
    <div class="footer_widget_area sec_ptb_100 clearfix" data-bg-color="#131313">
        <div class="container">
            <div class="row justify-content-lg-between">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_widget footer_about">
                        <div class="brand_logo mb_30">
                            <a href="index.html">
                                <img src="/assets/images/logo/logo_01_1x.png" srcset="/assets/images/logo/logo_02_2x.png 2x" alt="logo_not_found">
                            </a>
                        </div>

                        <p>
                            Данный интернет-магазин позволяет приобрести запчасти для большинства автомобилей по примемлемым ценам и с бесплатной доставкой.
                        </p>

                        <div class="footer_carparts_hotline">
                            <h4>Номер телефона для заказа</h4>
                            <span>375 33 3333333</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_widget footer_useful_links clearfix">
                        <h3 class="footer_widget_title text-white">Категории</h3>
                        <ul class="ul_li_block">
                            <li><a href="#!">Освещение</a></li>
                            <li><a href="#!">Шины</a></li>
                            <li><a href="#!">Кузовные детали</a></li>
                            <li><a href="#!">Диски</a></li>
                            <li><a href="#!">Электроника</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_widget footer_useful_links clearfix">
                        <h3 class="footer_widget_title text-white">Автомобили</h3>
                        <ul class="ul_li_block">
                            <li><a href="#!">BMW</a></li>
                            <li><a href="#!">Volkswagen</a></li>
                            <li><a href="#!">Skoda</a></li>
                            <li><a href="#!">Audi</a></li>
                            <li><a href="#!">Renault</a></li>
                            <li><a href="#!">Lada</a></li>
                            <li><a href="#!">Citroen</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                </div>

            </div>
        </div>
    </div>

    <div class="footer_bottom clearfix" data-bg-color="#000000">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <p class="copyright_text mb-0">© <a href="#!" class="author_link text-white">Автозапчасти</a> - Все права защищены</p>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>