<section th:fragment="search" class="banner_section carparts_banner parallaxie d-flex align-items-center clearfix" data-background="/assets/images/banner/car_parts/bg_01.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="banner_content text-center">
                    <p>Customize, Modify, Upgrade, Repair, Replace</p>
                    <h1 class="text-white">
                        SEARCH MATCHING YOUR VEHICLE PARTS
                    </h1>
                </div>
            </div>
        </div>
        <form action="showParts">
            <div class="carparts_search">
                <ul class="ul_li_center clearfix">
                    <li>
                        <div class="option_select">
                            <select name="car" id="main_menu">
                                <option selected="true" disabled="true">Марка</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="option_select">
                            <select class="chose_car" name="carname" id="sub_menu">
                                <option selected="true" disabled="true">Модель</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <select name="caryear" id="third_submenu">
                            <option selected="true" disabled="true">Год выпуска</option>
                        </select>
                    </li>
                    <li><button type="submit" class="submit_btn bg_carparts_red">Искать</button></li>
                </ul>
            </div>
        </form>
    </div>

</section>